css:

  .has-below {
    padding-bottom: 60px;
  }
  #current_time{
    color: #0e148e;
    font-size: 20px;
    padding: 10px 20px;
    background-color: #ffffff;
    border: solid 3px #0e148e;
    border-radius: 5px;
    position: absolute;
    top: 65px;
    right: 15px;
  }
  .greetings{
    color: #ffffff;
  }
  .greetings hr{
    color: #ffffff
  }
  .tasks-wrapper .row{
    background-color: #ffffff;
    padding: 15px 10px 15px 10px;
    border-radius: 3px;
    color: #133263;
  }
  .tasks-wrapper .row{
    margin: auto;
  }
  .tasks-wrapper .due_date{
   font-weight: bold;
 }
  .headline-wrapper p{
    margin-top: 20px;
    font-size: 22px;
    color: #ffffff;
  }
  .new_task{
    margin-bottom: 30px;
  }
  .new_task a{
    font-size: 22px;
    color: #ffffff;
  }
  .button-wrapper.list a{
    padding: 12px 15px;
    background-color: #e810c4;
    color: #ffffff;
    border-radius: 3px;
    position: relative;
    left: -15px;
  }
   .button-wrapper.starred a{
    padding: 12px 15px;
    background-color: #0e148e;
    color: #ffffff;
    border-radius: 3px;
    position: relative;
    left: -90px;
   }

   @media only screen and (max-width: 1000px) {
     .button-wrapper.starred a,
     .button-wrapper.list a{
       display: block;
       text-align: center; 
       left: 0;
       margin-bottom: 40px;
    }
   } 

.outerwrapper.col-md-12
.greetings.col-md-12
  h1 Hi "#{@user.name}"
  hr

.current-time
  p id="current_time"
.headline-wrapper.col-md-12
  - if items.any?
    p You have some urgent tasks coming up!
    hr
  - else
    .new_task
      a href="/new_list" + create new task
.tasks-wrapper.col-md-8
    - if items.any?
      - items.each do |item|
        .row
          .col-md-5
            .p #{item.name.upcase}
          .col-md-5
            .p #{item.description}
          .col-md-2.due_date
            .p #{item.due_date&.strftime('%Y-%m-%d')}
        hr
.button_outer_wrapper.col-md-12
  .button-wrapper.col-md-2.list
    a href='/' Show all lists
  .button-wrapper.col-md-2.starred
    a href='/dashboard/starred' Show starred items


javascript:
  document.addEventListener('DOMContentLoaded', function() {
      let href = window.location.href.split('/');
      href = href[href.length-1];
      if (href == "starred"){
        $('.headline-wrapper p').text("Starred items")
      }
      else if(href == "dashboard"){
        $('.headline-wrapper p').text("You have some urgent tasks coming up!")
      }
      $('.alert-success').slideUp(2000)
      $('.alert-danger').fadeOut(2000)
    
      $(function () {
      var myTimer = null;
      updateTime()
      myTimer = setInterval(updateTime, 1000)
      function updateTime(){
        var d = new Date();
        h = (d.getHours()<10?'0':'') + d.getHours();
        m = (d.getMinutes()<10?'0':'') + d.getMinutes();
        s = (d.getSeconds()<10?'0':'') + d.getSeconds();
        currentTime = h + ':' + m + ':' + s;
        $('#current_time').text( currentTime );
        console.log(currentTime)
      }
     window.onbeforeunload = function(){
       clearInterval(myTimer)
      };
    });
  });                        

